body {
    /* background-color: #ad9071; */
    background-color: #003C47;
    padding-top: 10px;
}

/* Navbar */
@media (min-width: 990px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 0%;
        height: 2px;
        background-color: #4F748A;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before {
        width: 100%;
        visibility: visible;
    }
}

.form-indicar-livro input {
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #aaa;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 1rem;
}

.form-indicar-livro input:last-child {
    margin-bottom: 0;
}

.devolucao-em-dia {
    position: absolute;
    top: 21px;
    right: 20px;
    font-size: 15px;
}

.devolucao-atrasada {
    position: absolute;
    top: 21px;
    right: 20px;
    font-size: 15px;
    color: red;
    font-weight: bold;
}